---
---

@import "{{ site.theme }}";
header h1 {
    width: 800px;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 52px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
}
